html {
    scroll-behavior: smooth;
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    min-width: 100vw;
    background-color: #081b29;
    color: white;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    margin: 0;
    padding: 0;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
    background-color: rgba(0, 0, 0, 0.495);
    backdrop-filter: blur(10px) saturate(180%);
}

.nav-bar {
    gap: 1rem;
}

.nav-bar li {
    list-style: none;
    font-size: 25px;
}

.logo {
    font-size: 30px;
}

.nav-bar a {
    transition: 0.3s;
    cursor: pointer;
}

.nav-bar a:hover {
    color: #007bff;
}

#home,
#about,
#skills,
#projects,
#contact {
    min-height: 100vh;
    padding: 0 10%;
    gap: 20px
}

#about h1,
#skills h1,
#projects h1,
#contact h1 {
    position:relative;
    font-size: 40px;
    font-weight: 700;
}

.home-img img {
    border-radius: 50%;
    border: 10px solid #00abf0;
}

.home-content {
    max-width: 700px;
    margin: 0;
}

.home-content h1 {
    margin: 0;
    ;
    font-size: 56px;
    font-weight: 700;
}

.home-content h3 {
    margin: 0;
    font-size: 32px;
    font-weight: 700;
    color: #00abf0;
}

.home-sub .btn-box {
    width: 345px;
    height: 50px;
}

.btn-box a {
    position: relative;
    width: 150px;
    height: 100%;
    background-color: #007bff;
    border: 2px solid #007bff;
    border-radius: 8px;
    font-size: 19px;
    color: #081b29;
    font-weight: 600;
    letter-spacing: 1px;
    z-index: 1;
    overflow: hidden;
    transition: 0.5s;
}

.btn-box a:nth-child(2) {
    color: #007bff;
}

.btn-box a:hover {
    color: #007bff;
}

.btn-box a:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background-color: #081b29;
    z-index: -1;
    transition: 0.5s;
}

.btn-box a:hover::before {
    width: 100%;
}

.btn-box a:nth-child(2) {
    background-color: #081b29
}

.btn-box a:nth-child(2):before {
    background-color: #007bff;
}

.btn-box a:nth-child(2):hover {
    color: #081b29;
}

.skill-box{
    width: 300px;
    margin:2rem;
}

.skill-box img{
    background-color: #ffffff;
    width: 50px;
    height:50px;
    border-radius: 50%;
}

.skill-box img,.skill-box h2,.skill-box p{
    margin:10px;
}